%section.places
  / %h2 Locations
  %ul.links
    %li.active
      %a{:href => '#venue'} Venue
    %li 
      %a{:href => '#guest_information'} Guest Information
    %li 
      %a{:href => '#rsvp'} RSVP
    %li 
      %a{:href => '#registry'} Registry
      
  %ul.content
    %li#venue.active
      = image_tag 'grant-humphreys.jpeg'
      %p
        The ceremony and reception will take place at the <strong>Grant-Humphreys Mansion</strong>.  The ceremony will begin at 5:30 pm on the lawn. After cocktails on the patio, we will move inside for dinner and dancing. 
      %p 
        The mansion is located at
        %a.address{:target => 'blank', :href => "http://maps.google.com/maps/place?q=Grant-Humphreys+Mansion,+Denver,+CO&hl=en&cid=7104521271565627461"}
          770 Pennsylvania St, Denver, Colorado.
      %p
        Limited parking is available at the mansion. There are approximately 55 spaces of free off-street parking available. Overflow parking will be available in a lot at Pearl & 8th Avenue.
      %p
        Emily Cooper, a close friend of the couple, will be officiating.

    %li#guest_information
      %p
        This is the information for all the guests
        
    %li#rsvp
      %p
        Let us know if you are coming please.
        
    %li#registry
      %p
        Here is some shit that we want.
      